[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SujathaDist"]
	path = SujathaDist
	url = https://github.com/hosenur72/sujathadist
